{% extends 'base.html' %}

{% block title %}Карточка сделки{% endblock %}
{% block content %}
  <nav>
    <div class="nav nav-tabs mt-5 mb-5" id="nav-tab" role="tablist">
      <button class="nav-link {% if active_tab == 1 %} active {% endif %}" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-deal" type="button" role="tab" aria-controls="nav-deal" aria-selected="{% if active_tab == 1 %} true {% else %} false {% endif %}">Создание сделки и задачи к ней</button>
      <button class="nav-link {% if active_tab == 2 %} active {% endif %}" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-equivalent" type="button" role="tab" aria-controls="nav-equivalent" aria-selected="{% if active_tab == 2 %} true {% else %} false {% endif %}">Настройки для эквивалента и нумерации КП</button>
      <button class="nav-link {% if active_tab == 3 %} active {% endif %}" id="nav-factory-number-tab" data-bs-toggle="tab" data-bs-target="#nav-factory-number" type="button" role="tab" aria-controls="nav-factory-number" aria-selected="{% if active_tab == 3 %} true {% else %} false {% endif %}">Заводские номера и копирование товаров в каталог</button>
      <button class="nav-link {% if active_tab == 4 %} active {% endif %}" id="nav-article-tab" data-bs-toggle="tab" data-bs-target="#nav-article" type="button" role="tab" aria-controls="nav-article" aria-selected="{% if active_tab == 4 %} true {% else %} false {% endif %}">Артикулы, Прямые затраты, Прибыль</button>
      <button class="nav-link" id="nav-template-tab" data-bs-toggle="tab" data-bs-target="#nav-template" type="button" role="tab" aria-controls="nav-template" aria-selected="false">Коды полей для вставки в шаблон</button>
      <button class="nav-link {% if active_tab == 5 %} active {% endif %}" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="{% if active_tab == 5 %} true {% else %} false {% endif %}">Права доступа</button>
      <button class="nav-link {% if active_tab == 6 %} active {% endif %}" id="nav-reports-tab" data-bs-toggle="tab" data-bs-target="#nav-reports" type="button" role="tab" aria-controls="nav-reports" aria-selected="{% if active_tab == 6 %} true {% else %} false {% endif %}">Отчеты</button>
      <button class="nav-link {% if active_tab == 7 %} active {% endif %}" id="nav-activity-tab" data-bs-toggle="tab" data-bs-target="#nav-activity" type="button" role="tab" aria-controls="nav-activity" aria-selected="{% if active_tab == 7 %} true {% else %} false {% endif %}">Активити</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade {% if active_tab == 1 %} show active {% endif %}" id="nav-deal" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row justify-content-center">
        <div class="col-6 card">
          <div class="card-header fw-bold">
            Создание сделки и задачи к ней
          </div>
          <div class="card-body">
            {% load user_filters %}
            {% if form_deal.errors %}
              {% for field in form_deal %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ field.label }} {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form_deal.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'settings:index' %}">
              {% csrf_token %}

              {% for field in form_deal %}
                <div class="form-group row mt-2"
                  {% if field.field.required %}
                    aria-required="true"
                  {% else %}
                    aria-required="false"
                  {% endif %}
                >
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {% if field|widgettype == 'CheckboxInput' %}
                    <div class="form-check form-switch mt-1">
                      {{ field|addclass:'form-check-input' }}
                    </div>
                  {% else %}
                    {{ field|addclass:'form-control' }}
                  {% endif %}
                </div>
                <div>
                  {% if field.help_text %}
                    <small
                            id="{{ field.id_for_label }}-help"
                            class="form-text text-muted"
                    >
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="d-flex justify-content-end">
                <input type="text" name='member_id' value="{{ member_id }}" hidden>
                <input type="submit" class="btn btn-outline-success" name="save-settings-deal" value="Сохранить">
              </div>
            </form>
            <div class="alert alert-info mt-3">
              <strong>Наименование сделки и Наименование задачи</strong> поддерживают следующие поля:<br>
              {ProductName} - наименование товара, по которому указывается готовность<br>
              {DealId} - ID сделки
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade {% if active_tab == 2 %} show active {% endif %}" id="nav-equivalent" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row justify-content-center">
        <div class="col-6 card">
          <div class="card-header fw-bold">
            Настройки для эквивалента и нумерации КП
          </div>
          <div class="card-body">
            {% load user_filters %}
            {% if form_equ.errors %}
              {% for field in form_equ %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ field.label }} {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form_equ.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'settings:index' %}">
              {% csrf_token %}

              {% for field in form_equ %}
                <div class="form-group row mt-2"
                  {% if field.field.required %}
                    aria-required="true"
                  {% else %}
                    aria-required="false"
                  {% endif %}
                >
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {% if field|widgettype == 'CheckboxInput' %}
                    <div class="form-check form-switch mt-1">
                      {{ field|addclass:'form-check-input' }}
                    </div>
                  {% else %}
                    {{ field|addclass:'form-control' }}
                  {% endif %}
                </div>
                <div>
                  {% if field.help_text %}
                    <small
                            id="{{ field.id_for_label }}-help"
                            class="form-text text-muted"
                    >
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="d-flex justify-content-end">
                <input type="text" name='member_id' value="{{ member_id }}" hidden>
                <input type="submit" class="btn btn-outline-success" name="save-settings-equivalent" value="Сохранить">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade {% if active_tab == 3 %} show active {% endif %}" id="nav-factory-number" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row justify-content-center">
        <div class="col-6 card">
        <div class="card-header fw-bold">
          Заводские номера и копирование товаров в каталог
        </div>
        <div class="card-body">
          {% load user_filters %}
          {% if form_fn.errors %}
            {% for field in form_fn %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ field.label }} {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form_fn.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

          <form method="post" action="{% url 'settings:index' %}">
            {% csrf_token %}

            {% for field in form_fn %}
              <div class="form-group row mt-2"
                {% if field.field.required %}
                  aria-required="true"
                {% else %}
                  aria-required="false"
                {% endif %}
              >
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                </label>
                {% if field|widgettype == 'CheckboxInput' %}
                  <div class="form-check form-switch mt-1">
                    {{ field|addclass:'form-check-input' }}
                  </div>
                {% else %}
                  {{ field|addclass:'form-control' }}
                {% endif %}
              </div>
              <div>
                {% if field.help_text %}
                  <small
                          id="{{ field.id_for_label }}-help"
                          class="form-text text-muted"
                  >
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
              <input type="text" name='member_id' value="{{ member_id }}" hidden>
              <input type="submit" class="btn btn-outline-success" name="save-settings-factory_numbers" value="Сохранить">
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>

    <div class="tab-pane fade  {% if active_tab == 4 %} show active {% endif %}" id="nav-article" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row justify-content-center">
        <div class="col-6 card">
          <div class="card-header fw-bold">
            Артикулы, Прямые затраты, Прибыль
          </div>
          <div class="card-body">
            {% load user_filters %}
            {% if form_art.errors %}
              {% for field in form_art %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ field.label }} {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form_art.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'settings:index' %}">
              {% csrf_token %}

              {% for field in form_art %}
                <div class="form-group row mt-2"
                  {% if field.field.required %}
                    aria-required="true"
                  {% else %}
                    aria-required="false"
                  {% endif %}
                >
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {% if field|widgettype == 'CheckboxInput' %}
                    <div class="form-check form-switch mt-1">
                      {{ field|addclass:'form-check-input' }}
                    </div>
                  {% else %}
                    {{ field|addclass:'form-control' }}
                  {% endif %}
                </div>
                <div>
                  {% if field.help_text %}
                    <small
                            id="{{ field.id_for_label }}-help"
                            class="form-text text-muted"
                    >
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="d-flex justify-content-end">
                <input type="text" name='member_id' value="{{ member_id }}" hidden>
                <input type="submit" class="btn btn-outline-success" name="save-settings-article" value="Сохранить">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-template" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row justify-content-center">
        <div class="col-6 card">
        <div class="card-header fw-bold">
          Коды полей для вставки в шаблон
        </div>
        <div class="card-body">
          <table class="table table-striped align-baseline" id="main-table">
            <thead>
              <tr>
                <th scope="col" width="10%" id="num">#</th>
                <th scope="col" width="40%" id="prod">Наименование</th>
                <th scope="col" width="40%" id="print-form">Код в шаблон</th>
                <th scope="col" width="10%" id="price">Копировать</th>
              </tr>
            </thead>
            <tbody>
              {% for field in fields %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th> {# Номер строки #}
                  <td>{{ field.name }}</td> {# Наименование #}
                  <td><input type="text" id="td-code-{{ forloop.counter }}" value="{{ field.code }}" disabled></td> {# Код в шаблон #}
                  <td><button class="btn btn-success text-white me-3" onclick="CopyToBuffer('td-code-{{ forloop.counter }}')">✔</button></td> {# Копировать #}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>

    <div class="tab-pane fade  {% if active_tab == 5 %} show active {% endif %}" id="nav-general" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row justify-content-center">
        <div class="col-6 card">
          <div class="card-header fw-bold">
            Права доступа
          </div>
          <div class="card-body">
            {% load user_filters %}
            {% if form_general.errors %}
              {% for field in form_general %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ field.label }} {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form_general.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'settings:index' %}">
              {% csrf_token %}

              {% for field in form_general %}
                <div class="form-group row mt-2"
                  {% if field.field.required %}
                    aria-required="true"
                  {% else %}
                    aria-required="false"
                  {% endif %}
                >
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {% if field|widgettype == 'CheckboxInput' %}
                    <div class="form-check form-switch mt-1">
                      {{ field|addclass:'form-check-input' }}
                    </div>
                  {% else %}
                    {{ field|addclass:'form-control' }}
                  {% endif %}
                </div>
                <div>
                  {% if field.help_text %}
                    <small
                            id="{{ field.id_for_label }}-help"
                            class="form-text text-muted"
                    >
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="d-flex justify-content-end">
                <input type="text" name='member_id' value="{{ member_id }}" hidden>
                <input type="submit" class="btn btn-outline-success" name="save-settings-general" value="Сохранить">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade {% if active_tab == 6 %} show active {% endif %}" id="nav-reports" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row flex-row">
        <div class="col-12 col-md-4 mt-3 d-flex">
          <div class="card flex-fill">
            <div class="card-header fw-bold bg-info">
              Отчет по сделкам
            </div>
            <div class="card-body">
              <p>Отчет по сделкам</p>
            </div>
            <div class="card-footer d-flex justify-content-end">
              <a href="{% url 'reports:report_deals' %}?member_id={{ member_id }}" class="btn btn-outline-primary">Перейти к отчету</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-3 d-flex">
          <div class="card flex-fill">
            <div class="card-header fw-bold bg-info">
              Отчет по производству
            </div>
            <div class="card-body">
              <p>Отчет по производству</p>
            </div>
            <div class="card-footer d-flex justify-content-end">
              <a href="{% url 'reports:report_production' %}?member_id={{ member_id }}" class="btn btn-outline-primary">Перейти к отчету</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-3 d-flex">
          <div class="card flex-fill">
            <div class="card-header fw-bold bg-info">
              Отчет по остаткам на складах
            </div>
            <div class="card-body">
              <p>Отчет по остаткам на складах</p>
            </div>
            <div class="card-footer d-flex justify-content-end">
              <a href="{% url 'settings:report_stock' %}?member_id={{ member_id }}" class="btn btn-outline-warning me-2">Настройки отчета</a>
              <a href="{% url 'reports:report_stock' %}?member_id={{ member_id }}" class="btn btn-outline-primary">Перейти к отчету</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade {% if active_tab == 7 %} show active {% endif %}" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for activity in activities %}
          <div class="col mb-2 d-flex align-items-stretch">
            <div class="card p-2">
              <div class="card-header fw-bold">
                {{ activity.name }}
              </div>
              <div class="card-body">
                <p>{{ activity.description }}</p>
                {% if activity.code in activities_installed %}
                  <div class="alert alert-success" id="div-install-{{ activity.code }}">Установлено</div>
                  <div class="alert alert-danger" id="div-uninstall-{{ activity.code }}" hidden>Не установлено</div>
                {% else %}
                  <div class="alert alert-success" id="div-install-{{ activity.code }}" hidden>Установлено</div>
                  <div class="alert alert-danger" id="div-uninstall-{{ activity.code }}">Не установлено</div>
                {% endif %}
              </div>
              <div class="card-footer">
                <button class="btn btn-success" onclick="installActivity('{{ activity.code }}')">Установить</button>
                <button class="btn btn-danger" onclick="uninstallActivity('{{ activity.code }}')">Удалить</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block user_scripts %}
  <script>
    function installActivity(code) {
        let div_install = document.getElementById('div-install-' + code);
        let div_uninstall = document.getElementById('div-uninstall-' + code);
        $.ajax({
            url: "{% url 'activities:install' %}",
            type: "POST",
            data: {code: code, member_id: "{{ member_id }}"},
        })
            .done(function (response) {
                if (response.result === true) {
                    alert('Активити успешно установлено на портал');
                    div_uninstall.hidden = true;
                    div_install.hidden = false;
                }
                else {
                    alert('Установка активити завершилась неудачно. Ошибка: ' + response.error_name + ' Описание ошибки: ' + response.error_description);
                }
            })
            .fail(function () {
                alert('Установка активити завершилось неудачно. Неизвестный тип ошибки');
            });
    }
    function uninstallActivity(code) {
        let div_install = document.getElementById('div-install-' + code);
        let div_uninstall = document.getElementById('div-uninstall-' + code);
        $.ajax({
            url: "{% url 'activities:uninstall' %}",
            type: "POST",
            data: {code: code, member_id: "{{ member_id }}"},
        })
            .done(function (response) {
                if (response.result === true) {
                    alert('Активити успешно удалено с портала');
                    div_uninstall.hidden = false;
                    div_install.hidden = true;
                }
                else {
                    alert('Удаление активити завершилось неудачно. Ошибка: ' + response.error_name + ' Описание ошибки: ' + response.error_description);
                }
            })
            .fail(function () {
                alert('Удаление активити завершилось неудачно. Неизвестный тип ошибки');
            });
    }
  </script>
{% endblock %}