{% extends 'base.html' %}
{% load i18n %}

{% block title %}Карточка сделки{% endblock %}
{% block content %}
  {% include 'includes/modals.html' %}
  <div id="div-loader" style="width: 100%; height: 100%; opacity: 0.5; position: fixed; background: #bacbe6; z-index: 100; text-align: center; display: none">
    {% load static %}
    <img src="{% static 'img/loading.gif' %}" alt="loading gif">
  </div>
  <div class="container-fluid mt-5">
    <div class="card bg-light">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <div class="card text-center fw-bold">
              <div class="card-header bg-primary text-white justify-content-center">
                <span>Суммарный эквивалент</span>
              </div>
              <div class="card-body">
                <span id="sum-equivalent">{{ sum_equivalent }}</span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card text-center fw-bold">
              <div class="card-header bg-primary text-white justify-content-center">
                <span>Максимальный срок</span>
              </div>
              <div class="card-body">
                <span id="max-prodtime">{{ max_prodtime }}</span>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="d-flex flex-row-reverse align-items-center">
              <button class="btn btn-outline-warning ms-3" id="btn-update-costs">Обновить прибыль и ПЗ</button>
              <a href="{% url 'dealcard:index' %}?member_id={{ member_id }}&deal_id={{ deal_id }}" class="btn btn-outline-success ms-3">Обновить данные из сделки</a>
              <label for="show-all">Показывать все поля</label>
              <input class="form-check-input me-3" type="checkbox" id="show-all" onclick="showAll()">
            </div>
            <div class="d-flex flex-row-reverse align-items-center mt-3">
              <a href="{% url 'dealcard:export-excel' %}?member_id={{ member_id }}&deal_id={{ deal_id }}" target="_blank" class="btn btn-outline-primary">Выгрузить таблицу в Excel</a>
              <button class="btn btn-outline-primary me-3" onclick="copyProducts()">Копировать товары в каталог и сделку</button>
              <button class="btn btn-outline-primary me-3" onclick="sendEquivalent()">Передать суммарный эквивалент в сделку</button>
            </div>
            <div class="row d-flex flex-row-reverse align-items-center mt-3">
              <button class="col btn btn-outline-primary me-3" onclick="WriteFactoryNumbers()">Установить заводские номера</button>
              <input class="col form-control me-3" type="text" id="general-number" value="{{ deal.general_number }}">
              <label class="col text-end" for="general-number">Основная часть заводского номера:</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <table class="table table-striped align-baseline" id="main-table">
      <thead>
        <tr>
          <th scope="col" width="3%" id="num">#</th>
          <th scope="col" width="10%" id="prod">Товар</th>
          <th scope="col" width="10%" id="print-form">В печатную форму</th>
          <th scope="col" width="7%" id="price">Цена, руб.</th>
          <th scope="col" width="4%" id="count">Кол-во</th>
          <th scope="col" width="4%" id="unit">Ед. изм.</th>

          <th scope="col" id="bonus" class="td-hidden">Скидка, %</th>
          <th scope="col" id="bonus-sum" class="td-hidden">Сумма скидки, руб.</th>
          <th scope="col" id="tax" class="td-hidden">Налог, %</th>
          <th scope="col" id="tax-sum" class="td-hidden">Сумма налога, руб.</th>

          <th scope="col" width="7%" id="sum">Сумма, руб.</th>
{#          <th scope="col" width="8%" id="count-days">Кол-во раб. дней</th>#}
          <th scope="col" width="6%" id="equivalent">Экв-нт за 1 ед.</th>
          <th scope="col" width="7%" id="prod-time">Срок производства</th>
          <th scope="col" width="7%" id="direct-costs">Прямые затраты за 1 ед без НДС</th>
          <th scope="col" width="6%" id="standard-hours">Нормочасы за 1 ед</th>
          <th scope="col" width="7%" id="materials">Материалы за 1 ед без НДС</th>
          <th scope="col" width="7%" id="factory-number">Зав. номер</th>
          <th scope="col" width="3%" id="edit-number">Изменить номер</th>
          <th scope="col" width="7%" id="prodtime-str">Срок производства из каталога</th>
          <th scope="col" width="3%" id="made">Готово</th>
          <th scope="col" width="3%" id="finish">Выпуск</th>
        </tr>
      </thead>
      <tbody>
        {% if products %}
          {% for product in products %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th> {# Номер строки #}
              <td>{{ product.name }}</td> {# Наименование продукта #}
              <td data-id="{{ product.id }}"><textarea class="form-control text-input" name="print-form-1" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ product.name_for_print }}</textarea></td>
              <td>{{ product.price_netto}}</td> {# Цена за штуку #}
              <td>{{ product.quantity }}</td> {# Количество #}
              <td>{{ product.measure_name }}</td> {# Единица измерения #}

              <td class="td-hidden">{{ product.bonus }}</td> {# Процент скидки #}
              <td class="td-hidden">{{ product.bonus_sum }}</td> {# Сумма скидки #}
              <td class="td-hidden">{{ product.tax }}</td> {# Процент налога #}
              <td class="td-hidden">{{ product.tax_sum }}</td> {# Сумма налога #}

              <td>{{ product.sum }}</td> {# Общая стоимость с налогом и скидкой #}
{#              <td data-id="{{ product.id }}"><input class="form-control number-input" type="number" name="count-days-1"#}
{#                           value="{{ product.count_days }}"></td> {# Количество рабочих дней #}
              <td data-id="{{ product.id }}"><input class="form-control equivalent-input" type="number" name="equivalent-1"
                           value="{{ product.equivalent }}"></td> {# Эквивалент #}
              <td data-id="{{ product.id }}"><input type="date" class="form-control datepicker-input"
                         name="prod-time-1" value="{{ product.prod_time|date:'Y-m-d' }}"></td> {# Срок производства #}
              <td data-id="{{ product.id }}">
                <span>План</span>
                <input class="form-control direct-costs-input" type="number" value="{{ product.direct_costs }}">
                <span>Факт</span>
                <input class="form-control direct-costs-fact-input" type="number" value="{{ product.direct_costs_fact }}" {% if user.is_admin != '1' %} disabled {% endif %}>
              </td> {# Прямые затраты #}
              <td data-id="{{ product.id }}">
                <span>План</span>
                <input class="form-control standard-hours-input" type="number" value="{{ product.standard_hours }}">
                <span>Факт</span>
                <input class="form-control standard-hours-fact-input" type="number" value="{{ product.standard_hours_fact }}" {% if user.is_admin != '1' %} disabled {% endif %}>
              </td> {# Нормочасы #}
              <td data-id="{{ product.id }}">
                <span>План</span>
                <input class="form-control materials-input" type="number" value="{{ product.materials }}">
                <span>Факт</span>
                <input class="form-control materials-fact-input" type="number" value="{{ product.materials_fact }}" {% if user.is_admin != '1' %} disabled {% endif %}>
              </td> {# Материалы #}
              {% if product.factory_number %}
                <td data-id="{{ product.id }}"><input id="{{ product.id }}" type="text" class="form-control factory-number-input"
                         name="factory-number-1" value="{{ product.factory_number }}" readonly></td> {# Заводской номер #}
                <td data-id="{{ product.id }}"><button class="btn btn-outline-info factory-number-btn" title="Изменить заводской номер">🔢</button></td> {# Изменить заводской номер #}
              {% else %}
                <td data-id="{{ product.id }}"><input id="{{ product.id }}" type="text" class="form-control factory-number-input"
                         name="factory-number-1" value="Не задан" readonly disabled></td> {# Заводской номер #}
                <td data-id="{{ product.id }}"><button class="btn btn-outline-info" disabled>🔢</button></td> {# Изменить заводской номер #}
              {% endif %}
              <td data-id="{{ product.id }}"><textarea class="form-control prodtime-str-input" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ product.prodtime_str }}</textarea></td>
              {% if product.made == True %}
                <td data-id="{{ product.id }}"><input data-id="{{ product.id }}" class="form-check-input made-check-input" type="checkbox" checked></td> {# Готовность изделия #}
              {% else %}
                <td data-id="{{ product.id }}"><input data-id="{{ product.id }}" class="form-check-input made-check-input" type="checkbox"></td> {# Готовность изделия #}
              {% endif %}
              {% if product.finish == True %}
                <td data-id="{{ product.id }}"><input data-id="{{ product.id }}" class="form-check-input finish-check-input" type="checkbox" checked></td> {# Выпуск изделия #}
              {% else %}
                <td data-id="{{ product.id }}"><input data-id="{{ product.id }}" class="form-check-input finish-check-input" type="checkbox"></td> {# Выпуск изделия #}
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="11">Товары отсутствуют в сделке</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="d-flex flex-row-reverse align-items-center mt-3">
        <button class="btn btn-outline-primary btn-lg me-3" onclick="ProductsFinish()">Изделие выпущено</button>
        <button class="btn btn-outline-primary me-3 btn-lg" title="Выбрать все" onclick="CheckAll()">✅</button>
        <button class="btn btn-outline-primary me-3 btn-lg" title="Снять все" onclick="NoCheckAll()">❎</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block user_scripts %}
  <script>
    $(".factory-number-btn").click(function() {
        const td = $(this).parent("td");
        const name_elem = "#" + td.data("id");
        $(name_elem).removeAttr('readonly');
    })

    let factory_number = $(".factory-number-input")
    factory_number.focus(function() {
        $(this).removeClass('text-danger');
    });
    factory_number.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        updateFactoryNumber(td.data("id"),value,this);
    });

    let finish_check = $(".finish-check-input")
    finish_check.change(function() {
        const td = $(this).parent("td");
        if (this.checked === false){
            sendToServer(td.data("id"),'false','finish');
        }
    });

    let made_check = $(".made-check-input")
    made_check.change(function() {
        const td = $(this).parent("td");
        if (this.checked === false){
            sendToServer(td.data("id"),'false','made');
        }
        if (this.checked === true){
            sendToServer(td.data("id"),'true','made');
        }
    });

    let datepicker_input = $(".datepicker-input")
    datepicker_input.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    datepicker_input.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'prod-time',this);
    });

    let number_input = $(".number-input")
    number_input.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    number_input.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'count-days',this);
    });

    let equivalent = $(".equivalent-input")
    equivalent.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    equivalent.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'equivalent',this);
    });

    let text_input = $(".text-input")
    text_input.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    text_input.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'name-for-print',this);
    });

    let general_number = $("#general-number")
    general_number.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    general_number.blur(function() {
        const value = $(this).val();
        sendToServer({{ deal.pk }},value,'general-number',this);
    });

    let direct_costs = $(".direct-costs-input")
    direct_costs.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    direct_costs.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'direct-costs',this);
    });

    let direct_costs_fact = $(".direct-costs-fact-input")
    direct_costs_fact.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    direct_costs_fact.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'direct-costs-fact',this);
    });

    let standard_hours = $(".standard-hours-input")
    standard_hours.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    standard_hours.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'standard-hours',this);
    });

    let standard_hours_fact = $(".standard-hours-fact-input")
    standard_hours_fact.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    standard_hours_fact.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'standard-hours-fact',this);
    });

    let materials = $(".materials-input")
    materials.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    materials.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'materials',this);
    });

    let materials_fact = $(".materials-fact-input")
    materials_fact.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    materials_fact.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'materials-fact',this);
    });

    let prodtime_str = $(".prodtime-str-input")
    prodtime_str.focus(function() {
        $(this).removeClass('text-success');
        $(this).removeClass('text-danger');
    });
    prodtime_str.blur(function() {
        const value = $(this).val();
        const td = $(this).parent("td");
        sendToServer(td.data("id"),value,'prodtime-str',this);
    });

    $("#btn-update-costs").on("click", function() {
        const modal = new bootstrap.Modal(document.querySelector('#modal-warning'));
        modal.show();
    });

    $("#btn-modal-save").on("click", function() {
        $.ajax({
            url: "{% url 'dealcard:update-direct-costs' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", deal_id: "{{ deal_id }}"},
            success: function (response) {
                alert(response.info);
                window.location.href = "{% url 'dealcard:index' %}?member_id={{ member_id }}&deal_id={{ deal_id }}";
            },
            error: function() {
                alert('Ошибка при обновлении значений полей');
            }
        });
    });


    function sendToServer(id,value,type,control) {
        $.ajax({
            url: "{% url 'dealcard:save' %}",
            type: "POST",
            data: {id: id, type: type, value: value},
        })
            .done(function () {
                $(control).removeClass('text-danger');
                $(control).addClass('text-success');
            })
            .fail(function () {
                $(control).removeClass('text-success');
                $(control).addClass('text-danger');
            });
    }

    function updateFactoryNumber(id,value,control) {
        $.ajax({
            url: "{% url 'dealcard:update-factory-number' %}",
            type: "POST",
            data: {product_id: id, value: value, member_id: "{{ member_id }}"},
        })
            .done(function (response) {
                if(response.result === 'error'){
                    alert(response.info);
                    $(control).addClass('text-danger');
                }
                else if(response.result === 'success'){
                    $(control).removeClass('text-danger');
                    $(control).attr('readonly', '');
                }
            })
            .fail(function () {
                $(control).removeClass('text-success');
                $(control).addClass('text-danger');
            });
    }

    function createTaskandDeal(id, member_id) {
        $.ajax({
            url: "{% url 'dealcard:create' %}",
            type: "POST",
            data: {id: id, member_id: member_id},
        })
            .done(function (response) {
                if(response.result === 'nodeal'){
                    alert(response.info);
                }
                else if(response.result === 'notask'){
                    alert(response.info);
                }
                else if(response.result === 'dealandtask'){
                    alert(response.info);
                }
            })
            .fail(function () {
                alert('Ошибка при создании сделки на отгрузку');
            });
    }

    function ProductsFinish() {
        const elements = document.getElementsByClassName('finish-check-input');
        const elementsList = Array.prototype.slice.call(elements);
        const products_id = [];
        elementsList.forEach(function (item) {
            if(item.checked === true) {
                products_id.push(item.dataset.id);
            }
        });
        if(products_id.length === 0){
            alert('Выберите хотя бы один продукт');
            return;
        }
        $.ajax({
            url: "{% url 'dealcard:create' %}",
            type: "POST",
            data: {products_id: products_id, member_id: "{{ member_id }}", deal_id: "{{ deal_id }}"},
        })
            .done(function (response) {
                alert(response.res);
            })
            .fail(function () {
                alert('Ошибка при создании элемента на отгрузку');
            });
    }

    function CheckAll() {
        const elements = document.getElementsByClassName('finish-check-input');
        const elementsList = Array.prototype.slice.call(elements);
        elementsList.forEach(function (item) {
            item.checked = true;
        });
    }

    function NoCheckAll() {
        const elements = document.getElementsByClassName('finish-check-input');
        const elementsList = Array.prototype.slice.call(elements);
        elementsList.forEach(function (item) {
            item.checked = false;
        });
    }

    function WriteFactoryNumbers() {
        document.getElementById("div-loader").style.display = "block";
        $.ajax({
            url: "{% url 'dealcard:write-factory-number' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", deal_id: "{{ deal_id }}"},
        })
            .done(function (response) {
                document.getElementById("div-loader").style.display = "none";
                alert(response.info);
                window.location.href = "{% url 'dealcard:index' %}?member_id={{ member_id }}&deal_id={{ deal_id }}";
            })
            .fail(function () {
                document.getElementById("div-loader").style.display = "none";
                alert('Ошибка при создании заводских номеров');
            });
    }

    function copyProducts() {
        document.getElementById("div-loader").style.display = "block";
        $.ajax({
            url: "{% url 'dealcard:copy-products' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", deal_id: "{{ deal_id }}"},
        })
            .done(function (response) {
                document.getElementById("div-loader").style.display = "none";
                alert(response.info);
                window.location.href = "{% url 'dealcard:index' %}?member_id={{ member_id }}&deal_id={{ deal_id }}";
            })
            .fail(function () {
                document.getElementById("div-loader").style.display = "none";
                alert('Ошибка при создании заводских номеров');
            });
    }

    function sendEquivalent() {
        $.ajax({
            url: "{% url 'dealcard:send-equivalent' %}",
            type: "POST",
            data: {member_id: "{{ member_id }}", deal_id: "{{ deal_id }}"},
        })
            .done(function (response) {
                alert("Суммарный эквивалент с учетом скидок и количества передан в сделку в размере " + response.result)
            })
            .fail(function () {
                alert('Ошибка передачи эквивалента в сделку');
            });
    }
  </script>

{% endblock %}