{% load static %}
<script src="//api.bitrix24.com/api/v1/"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/dataTables.fixedColumns.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/dataTables.fixedHeader.min.js' %}"></script>
<script type="text/javascript">
  BX24.fitWindow();
</script>